# Ignore sensitive files
.env
*.pem

# Ignore unwanted directories
__pycache__/
extracted_files/
files/
old code/
ref/
working_files/
.qodo
.DS_Store
individual servers/
rules_to execute.txt
workbook.ipynb

Llama-3.2-1B-Instruct.Q6_K.llamafile
filtered_df.csv
llama.log
ngrok.yml
output.json