# Ignore sensitive files
.env
*.pem

# Ignore unwanted directories
__pycache__/
extracted_files/
files/
old code/
ref/
working_files/
.qodo
.DS_Store
individual servers/
rules_to execute.txt
workbook.ipynb

